.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-content: center;
    grid-gap: 5px;
}

.grid-item {
    text-align: center;
    min-width: 5%;
}

.multicolumn-error-message {
    color: red;
    grid-column: 5 / span 3;
}

.multirow-image {
    grid-row: span 2;

}

#autoPictureToUpload {
    display: none;
}


.smallerInput {
    font-size: 0.7rem;
}