.h1404{
    font-weight: lighter;
    text-align: center;
    color: aliceblue;
}
body{
    background-image: url("../../Fileok/Kepek/VJ0v8V.gif");
    height:97vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; 
}