RewriteEngine On
RewriteBase /KTRNINJAS/Car-Rental/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /KTRNINJAS/Car-Rental/index.php [L]